* {
  box-sizing: border-box;
}
form {
  position: relative;
  top: 200px;
}
.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  color: white;
  min-width: 40px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  margin-top: 10px;
  color: white;
  background-color: #a17b4d;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 15px;
}
.btn:hover {
  opacity: 1;
}
.fa-passwd-reset > .fa-lock {
  font-size: 0.85rem;
}
.btn:active {
  background-color: tan;
  transform: scale(0.98);
}
