body {
    @apply bg-corn-silk;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.info-shelf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #d4a373;
}

PaginationRounded {
  margin-bottom: 20px;
}
