@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";

.brand {
  text-decoration: none;
  color: $productImageBorder;
}
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  width: 85%;
}
.image-ul {
  margin-left: $base-product-margin-left;
}
.image-ul-mobile {
  display: flex;
}
.normal-img-container img {
  height: 200px;
  width: 150px;
}
.normal-img-container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.alt-img-container-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $base-margin;
  justify-content: center;
}
.alt-img-container {
  margin-top: -40px;
  width: 40px;
  display: flex;
  align-items: center;
}
.ratings-mobile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0.75rem;
}
.all-img-container-mobile {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.all-img-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0;
  margin-left: 30%;
  padding: $base-padding;
}
.left-section {
  position: fixed;
  left: 0;
  top: 10rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post-container {
  @extend %container;
  background-color: $backgroundPrimary;
  display: flex;
  justify-content: center;
}
.post-content {
  margin: $base-margin;
  padding: $base-padding;
  max-width: 45rem;
  background-color: $backgroundSecondary;
}
.post-title {
  margin: $base-margin;
  font-weight: bold;
  font-size: $base-font-size * 2;
  text-align: center;
}
.post-content img {
  margin: $base-margin 0;
}
.m-card-price {
  font-weight: bold;
  color: $mainPrice;
}

.m-card-title {
  margin-bottom: $base-margin;
  font-size: $base-font-size * 0.8;
  cursor: pointer;
}

.m-img-container {
  @extend %flex-center;
  cursor: pointer;
}

.m-cart-btn {
  text-decoration: none;
  background-color: $cartColor;
  transition: 0.25s;
  border-radius: 50%;
  width: $cart-width-height;
  height: $cart-width-height;
  align-self: center;
  justify-content: center;
  @extend %flex-center;
}

.m-cart-btn :hover {
  opacity: 0.5;
}

.category-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-overview-mobile {
  display: flex;
  flex-wrap: wrap;
  border: $base-border-thickness solid $productBorder;
  margin: $base-margin * 2 0;
}
.author-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.overview-title {
  background-color: #fff;
  font-weight: 700;
  padding: $base-padding * 2;
  width: 100%;
  margin-bottom: $base-margin * 2;
}

.overview-info {
  padding: 0 ($base-padding * 2) ($base-padding * 2);
}
.item-row {
  /* padding: 10px 4px; */
}

.info-title {
  font-weight: bold;
  padding: $base-padding 0;
}

.border-element {
  border-bottom: $base-border-thickness solid $borderColor;
  margin-bottom: $base-margin;
  width: 100%;
}
