//site
// $backgroundPrimary: #f6ffde;
$backgroundPrimary: #fff;
$backgroundSecondary: hsl(77, 51%, 89%);
$text: #222831;
$navbarBackground: #747264;
$navbarText: #eeeeee;
$footer: #c9dbb2;
$items: #fff;
$defaultWhite: #fff;
$productImageBorder: #007185;
$searchFocus: blue;
$mainBlack: black;
$mainPrice: #007bff;
$overviewText: #fafafa;
$brandsBorder: #666d6e;
$brandsText: #213694;
$brandsHeaders: #b4781c;
$banner: #e9edc9;
$contactUsBtn: #d6dab9;
$loginBtn: #4caf50;
$registerBtn: #457fa0;
$FooterMain: #eeedeb;
$navbarRibbon: #c9c8c8;
$orderEven: #f6f7f6;
$orderOdd: #dbe6e9;
$checkout-background: #666;
$checkout-element: #dedede;
$checkout-element-text: #707070;
$checkout-cart: #f5f5f5;
//btn
$primary: #c3bef0;
$secondary: #cca8e9;
$primaryText: #1c1c1c;
$secondaryText: #1c1c1c;
$primaryHover: #fff;
$secondaryHover: #fff;
$primaryTextHover: #1c1c1c;
$secondaryTextHover: #1c1c1c;
$borderColor: grey;
$productBorder: #e0e0e0;
$newsLetter: #aac8a7;
$arrowColor: grey;
$searchColor: #ccc;
$cartColor: #4e564e;
$navbarIcon: #cda750;
